
      <div class="small-container single-product">
          <div class="row">
            <div class="col-2">
                <img src="images/9781441106896.jpg">
            </div>
            <div class="col-2">
                <h1><%= product.title %> </h1>
                <h4><%= product.price %> </h4>
                <a href="/addtocart" class="btn-1">Thêm sản phẩm</a>
                <h3>Mô tả sản phẩm</h3><br>
                <p><%= product.description %></p>
            </div>
          </div>
      </div>
